<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PTEXAM"
        tools:targetApi="31">
        <activity
            android:name=".Route13"
            android:exported="false" />
        <activity
            android:name=".Route12"
            android:exported="false" />
        <activity
            android:name=".Route11"
            android:exported="false" />
        <activity
            android:name=".Route10"
            android:exported="false" />
        <activity
            android:name=".Route9"
            android:exported="false" />
        <activity
            android:name=".Route8"
            android:exported="false" />
        <activity
            android:name=".Route7"
            android:exported="false" />
        <activity
            android:name=".Route6"
            android:exported="false" />
        <activity
            android:name=".Route5"
            android:exported="false" />
        <activity
            android:name=".Route4"
            android:exported="false" />
        <activity
            android:name=".Route3"
            android:exported="false" />
        <activity
            android:name=".Route2"
            android:exported="false" />
        <activity
            android:name=".Route1"
            android:exported="false" />
        <activity
            android:name=".Callawa"
            android:exported="false" />
        <activity
            android:name=".Mahayag"
            android:exported="false" />
        <activity
            android:name=".Mandug"
            android:exported="false" />
        <activity
            android:name=".Acacia"
            android:exported="false" />
        <activity
            android:name=".Juliville"
            android:exported="false" />
        <activity
            android:name=".Indangan"
            android:exported="false" />
        <activity
            android:name=".Tigatto"
            android:exported="false" />
        <activity
            android:name=".Cabantian"
            android:exported="false" />
        <activity
            android:name=".ElRio"
            android:exported="false" />
        <activity
            android:name=".Communal"
            android:exported="false" />
        <activity
            android:name=".JadeValley"
            android:exported="false" />
        <activity
            android:name=".LandmarkIIIRizalSt"
            android:exported="false" />
        <activity
            android:name=".CampCatitipanViaDacudao"
            android:exported="false" />
        <activity
            android:name=".CampCatitipanViaJPLaurel"
            android:exported="false" />
        <activity
            android:name=".BuhanginViaDacudao"
            android:exported="false" />
        <activity
            android:name=".BuhanginViaJPLaurel"
            android:exported="false" />
        <activity
            android:name=".WelcomeDialog"
            android:exported="false" />
        <activity
            android:name=".TorilRoxasAvenue"
            android:exported="false" />
        <activity
            android:name=".CalinanRoxasAvenue"
            android:exported="false" />
        <activity
            android:name=".MintalRoxasAvenue"
            android:exported="false" />
        <activity
            android:name=".CatalunanGrandeRoxasAvenue"
            android:exported="false" />
        <activity
            android:name=".TalomoRoxasAvenue"
            android:exported="false" />
        <activity
            android:name=".BagoAplayaRoxasAvenue"
            android:exported="false" />
        <activity
            android:name=".PuanRamonMagsaysayAvenue"
            android:exported="false" />
        <activity
            android:name=".UlasRamonMagsaysayAvenue"
            android:exported="false" />
        <activity
            android:name=".BangkalRamonMagsaysayAvenue"
            android:exported="false" />
        <activity
            android:name=".EcolandSMCity"
            android:exported="false" />
        <activity
            android:name=".MaaBankerohan"
            android:exported="false" />
        <activity
            android:name=".MatinaPangiRamonMagsaysayAvenue"
            android:exported="false" />
        <activity
            android:name=".MatinaAplayaAgdao"
            android:exported="false" />
        <activity
            android:name=".MatinaCrossingAgdao"
            android:exported="false" />
        <activity
            android:name=".MaaAgdao"
            android:exported="false" />
        <activity
            android:name=".PanaboCityDavaoCity"
            android:exported="false" />
        <activity
            android:name=".LasangViaBuhangin"
            android:exported="false" />
        <activity
            android:name=".LasangViaSasa"
            android:exported="false" />
        <activity
            android:name=".BunawanViaBuhangin"
            android:exported="false" />
        <activity
            android:name=".BunawanViaSasa"
            android:exported="false" />
        <activity
            android:name=".TibungcoViaCabaguio"
            android:exported="false" />
        <activity
            android:name=".TibungcoViaBuhangin"
            android:exported="false" />
        <activity
            android:name=".TibungcoViaRCastillo"
            android:exported="false" />
        <activity
            android:name=".DonaPilar"
            android:exported="false" />
        <activity
            android:name=".PanacanSMCity"
            android:exported="false" />
        <activity
            android:name=".PanacanviaCabaguio"
            android:exported="false" />
        <activity
            android:name=".PanacanViaBuhanginIlustre"
            android:exported="false" />
        <activity
            android:name=".PanacanViaJPLaurel"
            android:exported="false" />
        <activity
            android:name=".SasaViaCabaguio"
            android:exported="false" />
        <activity
            android:name=".SasaViaJPLaurel"
            android:exported="false" />
        <activity
            android:name=".SasaViaRCastillo"
            android:exported="false" />
        <activity
            android:name=".NumericalRoutes"
            android:exported="false" />
        <activity
            android:name=".BuhanginRoutes"
            android:exported="false" />
        <activity
            android:name=".SouthBoundRoutesMenu"
            android:exported="false" />
        <activity
            android:name=".NorthBoundRoutesMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>